<!DOCTYPE html>
<html lang="en" data-ng-app="vbPointTracker">
<head>
  <meta charset="UTF-8">
  <title>VB Point Tracker</title>
  <link rel="stylesheet" href="./app/css/style.css">
  <meta name="viewport" content="width=600, initial-scale=1.0">
</head>
<body>
  <h1>Volleyball Point Tracker</h1>
  <section ng-controller="Game1Ctrl">
    <span class="game-heading">--Game 1--</span><br>
    <span class="team-heading">Valley</span>
    <input class="points-input" type="number" maxlength="4" ng-model="gameInfo.homeScore">
    <button class="btn-primary" ng-click="adjustHomeScore(1)">+</button>
    <button class="btn-primary" ng-click="adjustHomeScore(-1)">-</button>
    <span class="team-heading">Other<span>
    <input class="points-input" type="number" maxlength="4" ng-model="gameInfo.opponentScore">
    <button class="btn-primary" ng-click="adjustOpponentScore(1)">+</button>
    <button class="btn-primary" ng-click="adjustOpponentScore(-1)">-</button>
    <br>

    <ul data-ng-repeat="player in gameInfo.players">
      <li><span><input class="check"type="checkbox" data-ng-model="player.playing"></span><span> {{player.number}} {{player.name}} - points = {{player.points}} </span><span class="served"><input class="check" type="checkbox" data-ng-model="player.served"> SERVED</span>
      </li>
    </ul>

  </section>
  <section ng-controller="Game2Ctrl">
    <span class="game-heading">--Game 2--</span><br>
    <span class="team-heading">Valley</span>
    <input class="points-input" type="number" maxlength="4" ng-model="gameInfo.homeScore">
    <button class="btn-primary" ng-click="adjustHomeScore(1)">+</button>
    <button class="btn-primary" ng-click="adjustHomeScore(-1)">-</button>
    <span class="team-heading">Other<span>
    <input class="points-input" type="number" maxlength="4" ng-model="gameInfo.opponentScore">
    <button class="btn-primary" ng-click="adjustOpponentScore(1)">+</button>
    <button class="btn-primary" ng-click="adjustOpponentScore(-1)">-</button>
    <br>

    <ul data-ng-repeat="player in gameInfo.players">
      <li><span><input class="check" type="checkbox" data-ng-model="player.playing"></span><span>  {{player.number}} {{player.name}} - points = {{player.points}} </span><span class="served"><input class="check" type="checkbox" data-ng-model="player.served">  SERVED</span>
      </li>
    </ul>

  </section>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
  <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script> -->
  <script type="text/javascript" src="./app/app.module.js"></script>
  <script type="text/javascript" src="./app/game/game.controller.js"></script>
</body>
</html>
