<section>
      <span>Game 1<span>
      <span>Valley<span>
      <input type="number" maxlength="4" ng-model="game.homeScore">
      <button class="btn-primary" ng-click="game.adjustHomeScore(1)">+</button>
      <button class="btn-primary" ng-click="game.adjustHomeScore(-1)">-</button>
      <span>Opponent<span>
      <input type="number" maxlength="4" ng-model="game.opponentScore">
      <button class="btn-primary" ng-click="game.adjustOpponentScore(1)">+</button>
      <button class="btn-primary" ng-click="game.adjustOpponentScore(-1)">-</button>
      <br>

      <ul data-ng-repeat="player in game.players">
        <li><div class="check"><input type="checkbox" data-ng-model="player.playing"></div><div> {{player.number}} {{player.name}} - points = {{player.points}}</div>
        </li>
      </ul>

  </section>
